<a href="https://colab.research.google.com/github/joanby/python-ml-course/blob/master/T1%20-%201%20-%20Data%20Cleaning%20-%20Carga%20de%20datos-Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Carga de datos a través de la función read_csv

In [5]:
import pandas as pd
import os

In [6]:
# DEFINIR MAINPATH Y FILENAME
# carga de dataset (opción 1)
mainpath = "/content/drive/MyDrive/Python Machine Learning JGG/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

In [4]:
data = pd.read_csv(fullpath)

In [5]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
# Ejemplos de los parámetros de la función read_csv

### Ejemplos de los parámetros de la función read_csv
```
read.csv(filepath="/Users/JuanGabriel/Developer/AnacondaProjects/python-ml-course/datasets/titanic/titanic3.csv",
        sep = ",", 
        dtype={"ingresos":np.float64, "edad":np.int32}, 
        header=0,names={"ingresos", "edad"},
        skiprows=12, index_col=None, 
        skip_blank_lines=False, na_filter=False
        )
```

In [ ]:
# carga de dataset (opción 2)
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", sep=",") #CUIDADO: ES EL TXT; NO EL CSV

In [ ]:
data2.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.

[5 rows x 21 columns]

In [ ]:
# me da los nombres de las columnas
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [ ]:
# cambiar nombre de las columnas con los nombres que vienen en el archivo "Customer Churm Columns.csv"
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", 
                    header = None, names = data_col_list)
data2.columns.values
# ojo, para poder poner los nombre de las nuevas columnas hemos tenido que hacer dos cosas:
# 1-pasar a lista los nuevos nombres (de ahí que usemos .tolist() en el archivo data_cols)
# 2-poner header None y luego poner names como la lista nueva: data_col_list

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open

In [62]:
## (sí run) ##
data3 = open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt",'r') # r solo lectura, w solo escritura, rw lectura y escritura

In [49]:
cols = data3.readline()
cols

"State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?\n"

In [63]:
## (sí run) ##
cols = data3.readline().strip().split(",")
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [53]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)

In [64]:
## (sí run) ##
# tengo diccionario ppal: main_dict. Para cada columna de cols, creo en el diccionario una nueva clave con el nombre col
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [65]:
## (sí run) ##
main_dict

{'State': [],
 'Account Length': [],
 'Area Code': [],
 'Phone': [],
 "Int'l Plan": [],
 'VMail Plan': [],
 'VMail Message': [],
 'Day Mins': [],
 'Day Calls': [],
 'Day Charge': [],
 'Eve Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Night Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Intl Mins': [],
 'Intl Calls': [],
 'Intl Charge': [],
 'CustServ Calls': [],
 'Churn?': []}

In [66]:
## (sí run) 
### ahora relleno el diccionario:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))
print("El dataset tiene {} filas y {} columnas".format(counter-1, n_cols))

El data set tiene 3332 filas y 21 columnas
El dataset tiene 3332 filas y 21 columnas

In [68]:
## (sí run)
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

In [76]:
# INICIO código completo para abrir archivo con open

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [77]:
import pandas as pd

In [78]:
mainpath = "/content/drive/MyDrive/Python Machine Learning JGG/datasets"

In [79]:
data3_bis = open(mainpath + "/" + "time/time_series.txt",'r')

In [80]:
cols = data3_bis.readline().strip().split(",")
cols

['YYYYMMDD HHMM M(m/s)']

In [81]:
counter = 0
main_dict_bis = {}
for col in cols:
    main_dict_bis[col] = []

In [82]:
for line in data3_bis:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict_bis[cols[i]].append(values[i])
    counter += 1

print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))
print("El dataset tiene {} filas y {} columnas".format(counter-1, n_cols))

El data set tiene 275351 filas y 21 columnas
El dataset tiene 275351 filas y 21 columnas

In [83]:
df3_bis = pd.DataFrame(main_dict_bis)
df3_bis.head()

   YYYYMMDD HHMM M(m/s)
0  19830101 0000    7.9
1  19830101 0100    8.2
2  19830101 0200    8.5
3  19830101 0300    9.0
4  19830101 0400    9.9

In [ ]:
# FIN código completo para abrir archivo con open

## Lectura y escritura de ficheros

In [84]:
# voy a cambiar el separador , por un separador \t:
# defino el archivo origen y el final (infile y outfile). Ojo, estoy creando un nuevo archivo (el outfile)
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Table Customer Churn Model_sbg.txt"

In [85]:
with open(infile, "r") as infile1: # abro el archivo como lectura ("r")
    with open(outfile, "w") as outfile1: # abro el archivo como escritura ("w")
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [86]:
# aquí lo sacamos por pantalla, ojo, tenemos que poner el separador sep="\t"
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL

In [ ]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [ ]:
medals_data = pd.read_csv(medals_url)

In [ ]:
medals_data.head()

   Year      City       Sport  ...       Event Event gender   Medal
0  1924  Chamonix     Skating  ...  individual            M  Silver
1  1924  Chamonix     Skating  ...  individual            W    Gold
2  1924  Chamonix     Skating  ...       pairs            X    Gold
3  1924  Chamonix   Bobsleigh  ...    four-man            M  Bronze
4  1924  Chamonix  Ice Hockey  ...  ice hockey            M    Gold

[5 rows x 8 columns]

In [ ]:
# otro ejemplo para leer archivo desde una URL

In [87]:
ejemplo_url = "https://app.docusign.com/static/Sample-Bulk-Recipient.csv"

In [88]:
ejemplo_data = pd.read_csv(ejemplo_url)

In [90]:
ejemplo_data

Empty DataFrame
Columns: [Email, Name, Identification, Note, Field Label 1, Field Label 2]
Index: []

#### Ejercicio de descarga de datos con urllib3
Vamos a hacer un ejemplo usando la librería urllib3 para leer los datos desde una URL externa, procesarlos y convertirlos a un data frame de *python* antes de guardarlos en un CSV local.

In [98]:
def downloadFromURL(url, filename, sep = ",", delim = "\n", encoding="utf-8", 
                   mainpath = "/content/drive/MyDrive/Python Machine Learning JGG/datasets"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url) # url es la variable que hemos igualado a la dirección url del csv
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #Añadimos cada valor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [ ]:
medals_df = downloadFromURL(medals_url, "athletes/downloaded_medals")
medals_df.head()

El estado de la respuesta es 200
El data set tiene 2312 filas y 8 columnas
   Year      City       Sport  ...       Event Event gender   Medal
0  1924  Chamonix     Skating  ...  individual            M  Silver
1  1924  Chamonix     Skating  ...  individual            W    Gold
2  1924  Chamonix     Skating  ...       pairs            X    Gold
3  1924  Chamonix   Bobsleigh  ...    four-man            M  Bronze
4  1924  Chamonix  Ice Hockey  ...  ice hockey            M    Gold

[5 rows x 8 columns]
Los ficheros se han guardado correctamente en: /content/drive/My Drive/Curso Machine Learning con Python/datasets/athletes/downloaded_medals

   Year      City       Sport  ...       Event Event gender   Medal
0  1924  Chamonix     Skating  ...  individual            M  Silver
1  1924  Chamonix     Skating  ...  individual            W    Gold
2  1924  Chamonix     Skating  ...       pairs            X    Gold
3  1924  Chamonix   Bobsleigh  ...    four-man            M  Bronze
4  1924  Chamonix  Ice Hockey  ...  ice hockey            M    Gold

[5 rows x 8 columns]

#### Ejercicio autoimpuesto: bajar datos de un csv de internet usando la función def downloadFromURL

In [ ]:
new_ejemplo_url = "https://www.kaggle.com/datasets/siddiquiqamar/top-100-youtube-channels-in-united-kingdom"

In [99]:
new_ejemplo_df = downloadFromURL(new_ejemplo_url, "ejemplo_sbg\ejemplo")

El estado de la respuesta es 200

IndexError: ignored

In [ ]:
ejemplo_df.head()

## Ficheros XLS y XLSX

In [91]:
mainpath = "/content/drive/MyDrive/Python Machine Learning JGG/datasets"
filename = "titanic/titanic3.xls"

In [92]:
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3") # ojo, hay que indicarle qué pestaña del excel hay que sacar (en este caso titanic3)

In [93]:
filename = "titanic/titanic3.xlsx"
titanic3 = pd.read_excel(mainpath + "/" + filename, "titanic3") # ojo, hay que indicarle qué pestaña del excel hay que sacar (en este caso titanic3)

In [94]:
titanic3.to_csv(mainpath + "/titanic/titanic_custom_sbg.csv")

In [95]:
titanic3.to_excel(mainpath + "/titanic/titanic_custom_sbg.xls")

<ipython-input-95-3a2905ff987c>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  titanic3.to_excel(mainpath + "/titanic/titanic_custom_sbg.xls")

In [96]:
titanic3.to_json(mainpath + "/titanic/titanic_custom_sbg.json")